SERVER_ADDR=:8443
TLS_CERT=certs/server.crt
TLS_KEY=certs/server.key
MTLS_ENABLED=false
MTLS_CA_CERT=certs/ca.crt
TESTDATA_DIR=testdata
WEBHOOK_TARGET=http://localhost:8080/v1/webhooks/celcoin
WEBHOOK_BEARER=
WEBHOOK_HMAC_SECRET=
